p {
    color: darkblue;
    text-align: justify;
}
.jumbotron{
    background-color: bisque;
}
h3 {
    font-weight: bolder;
    font-size: 25px;
    color: gray;
}
.services-container{
    flex: 1 250px;
    padding: 10px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    background-color: azure;
}
footer{
    background-color: bisque;
    color: black;
    padding: 10px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
}
.footer-con{
    margin: 10px 15% 10px 15%;
}
.btn-custom{
    width: 100%;
}
a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}